<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>小说阅读网</title>
    <link rel="stylesheet" href="https://zqjscss.cdn.bcebos.com/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div class="header">
        <h1 class="logo"><a href="/">小说阅读网</a></h1>
        <form action="" class="search-form" id="form">
            <input class="input-text input-key" id="keyWord" name="keyWord" type="text" maxlength="30"
                   placeholder="可搜书名和作者，请您少字也别输错字。" />
            <input type="button" class="btn-tosearch" value="搜索" title="搜索" />
        </form>
    </div>

    <ul class="nav">
        <li v-for="cat in catData">
            <a :href="cat.path">${cat.name}</a>
        </li>
    </ul>

    <div class="container">
        <div class="row row-detail">
            <div class="layout layout-col1">
                <h2 class="layout-tit"><a href="/">小说网</a> > ${bookinfo.name}</h2>
                <div class="detail-box">
                    <div class="imgbox">
                        <img :alt="bookinfo.name" :src="bookinfo.img" />

                        <i class="flag xs-hidden"></i>

                    </div>
                    <div class="info">
                        <div class="top">
                            <h1>${bookinfo.name}</h1>
                            <div class="fix">
                                <p>作者：${bookinfo.author}</p>
                                <p class="xs-show">类别：${bookinfo.cat_name}</p>
                                <p>最后更新：${formatDate(bookinfo.updated_at)} </p>
                            </div>
                        </div>
                        <div class="desc xs-hidden" >
                            　${bookinfo.intro}
                        </div>
                    </div>
                    <div class="m-desc xs-show">
                        <strong>简介:</strong>
                        ${bookinfo.intro}
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-section">
            <div class="layout layout-col1">


                <h2 class="layout-tit">《${bookinfo.name}》正文</h2>
                <div class="section-box">
                    <ul class="section-list fix">
                        <li v-for="chapter in chapterList">
                            <a :href="'/content/'+chapter.book_id+'/'+chapter.id">${ chapter.title }</a>
                        </li>
                    </ul>
                </div>

                <div class="listpage" style="display: none">
                    <span class="left">
                        <a class="before">上一页</a>
                    </span>
                    <span class="right">
                        <a href="" class="onclick">下一页</a>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <div class="pc-footer">
            <p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
        </div>
        <div class="m-footer">
            <a href="/">首页</a>
            <a href="#">顶部↑</a>
        </div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            catData:[
                {id:1,name:"首页",path:"/"},
                {id:3,name:"玄幻小说",path:"/?cat=3"},
                {id:4,name:"修真小说",path:"/?cat=4"},
                {id:5,name:"都市小说",path:"/?cat=5"},
                {id:6,name:"穿越小说",path:"/?cat=6"},
                {id:7,name:"网游小说",path:"/?cat=7"},
                {id:8,name:"科幻小说",path:"/?cat=8"},
            ],
            book_id:"{{ .id }}",
            message: 'Hello Vue!',
            bookinfo:[],  //书籍信息
            chapterList:[],  //最新小说
        },
        created(){
            this.loadData()
        },
        methods:{
            loadData(){
                this.getBook()
                this.getChapters()
            },
            getChapters(){
                axios.post('/chapter',{
                        book_id:parseInt(this.book_id),
                    },
                ).then(response => {
                    if(response.data.code == 200){
                        this.chapterList = response.data.data
                    }
                }).catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            },
            getBook(){
                axios.post('/book',{
                        id:parseInt(this.book_id),
                    },
                ).then(response => {
                    if(response.data.code == 200){
                        let data = response.data.data
                        if (data.length > 0){
                            this.bookinfo = data[0]
                        }
                    }
                }).catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            },


            formatDate(time){
                var now=new Date(parseInt(time)*1000);
                var year=now.getFullYear();
                var month=now.getMonth()+1;
                var date=now.getDate();
                var hour=now.getHours();
                var minute=now.getMinutes();
                var second=now.getSeconds();
                return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second;
            },
        }
    })
</script>

<style>
    .appguide-wrap { display: block; margin: 15px 10px; border-radius: 5px; box-shadow: 0 0 6px #ddd; overflow: hidden; background: #31546b; background-image: repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 15px, transparent 0, transparent 30px); }
    .appguide-wrap .appguide-txt { padding: 15px 10px; font-size: 16px; line-height: 26px; color: #fff; }
    .appguide-wrap .appguide-btns { display: flex; line-height: 40px; text-align: center; background: #fff; }
    .appguide-wrap .appguide-btns span { flex: 1; }
    .appguide-wrap .appguide-btns span:first-child { background: #f5f5f5; color: #999; }
</style>
</html>
